@font-face {
    font-family: 'Norse Bold';
    src: url("../media/fonts/Norse-Bold.otf") format("opentype");
    
}

html {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25;
}

body {
    display: flex;
    /*max size in window with no scrolling
    *causes issues: image resizes but logo does not
    *citation stays at bottom and doesn't stay visible on the bottom of the image
    *if the image moves due to shrinking

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    */
}

.side-image {
    width: 33vw;
    /* to allow absolute positioning of logo within this element*/
    position: relative;
}



.side-image > img {
    /*take up available width but keep height ratio*/
    /*need to edit picture resizing*/
    width: 100%;
    height: 100vh;
    
}


.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20%;
    /*transparent background for ease of reading text on the image*/
    background-color: rgba(0, 0, 0, 0.4);
}

.logo {
    width: 100px;
    max-width:10vw;
    height: auto;
    padding: 15px 0;
}

.logo-text {
    color: #EBEBEB;
    /*logo font will resize with the screen*/
    font-size: min(10vh, 10vw);

    font-family: 'Norse Bold';
}

.image-citation {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*photo credit fixed to bottom of image*/
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.0);
    color: #CCCCCC;
    font-size: min(14px, 2vw);
    padding-bottom: 10px;
}

.image-citation a {
    
    color: #CCCCCC;
}

main {
    background-color: #F6F6F6;
    width: 67vw;
    display: flex;
    flex-direction: column;
}

.main-text {
    flex: 1 0 0;
    height: 35vh;
    font-size: 24px;
    font-weight: bold;
    padding: 100px 0 0 50px;
    
}

.main-text p {
    padding-top: 20px;
}

.sign-up-info {
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 50px;
    flex: 1;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
}

.log-in-section {
    height: 35vh;
}

.italics {
    font-style: italic;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 20px 0;
    width: 33%;
}

.input-wrapper label {
    letter-spacing: 1px;
    font-size: 12px;
}

.name-input, .contact-info, .password-input {
    display: flex;
    width: 100%;
}

input {
    border-color: #E5E7EB;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 2rem;
    width: min(300px, 100%);
}

.motivate-text {
    font-size: 24px;
    font-weight: bold;
}

button {
    color: white;
    font-style: bold;
    font-size: 18px;
    background-color: #596D48;
    height: 3rem;
    width: 15rem;
    border-radius: 5px;
    margin: 40px 0 30px 50px;
    border: none;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
}

button:hover {
    box-shadow: 0px 10px 15px 5px rgb(0 0 0 / 15%);
}

.log-in-section p {
    padding-left: 50px;
    font-size: 18px;
    font-weight: 600;
}

.log-in-section a {
    text-decoration: none;
    color: #596D48;
}

.name-input input:focus, .contact-info input:focus {
    /*remove default black outline during focus*/
    outline: none;
    border-color: blue;   
}

.pass-confirm-message, .password-message {
    color: red;
}

.error {
    outline: none;
    border-color: red; 
    
}
.valid {
    outline: none;
    border-color: #596D48; 
}